.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-gato{
    background-color: rgb(9, 115, 160);
    margin: 1rem;
    padding: 3rem;
    width: 30rem;
    border-radius: 5px;
}

.imagen-borde{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 500px;
    height: 500px;
}

button{
    margin-top: 2rem;
}

button:hover{
    cursor: pointer;
}